<md-dialog 
	ng-controller="AmhTipsCtrl"
	ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<wb-icon>info</wb-icon>
			<h2 translate>Tips and triks</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<wb-icon aria-label="Close dialog">close</wb-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content 
		layout="column"
		layout-padding
		flex>
		<img ng-src="{{tip.image}}" height="256px" alt="{{tip.title}}">
		<h3>{{tip.title}}</h3>
		<p>{{tip.description}}</p>
		<a href="{{tip.url}}" translate>Read more</a>
	</md-dialog-content>
	
	
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button 
			ng-click="next()"
			md-autofocus>
			<span translate>Next</span>
		</md-button>
		<md-button 
			ng-click="previous()"
			md-autofocus>
			<span translate>Previous</span>
		</md-button>
	</md-dialog-actions>
</md-dialog>
